$main-color: #28a745;
$main-text-color: #ffffff;
$secondary-text-color: gray;
$small-text: 0.7em;
$big-text: 1.3em;
$border-color: rgba(128, 128, 128, 0.5);
$border: 0.5px solid $border-color;
$main-bg-color: black;
$rounded: 10px;
$input-border-radius: 20px;
$secondary-bg-color: lighten($color: $main-bg-color, $amount: 10%);
$layout-breakpoint-sm: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg : 992px;
$layout-breakpoint-xl: 1200px;

