@import 'variables';
 
.wrapper {
    display: flex;
    width: 100%;
}
.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: fade-out($color: $secondary-text-color, $amount: 0.4);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.d-active {
    display: block;
    opacity: 1;
}
.dismiss-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 0px;
    right: 10px;
    
}
.sidebar  {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}
.sidebar {
    padding: 2rem 1rem 1rem 1rem;
    background-color: $secondary-bg-color;
}
.sidebar .col {
    flex-grow: 0!important;
}
.brand-text {
    font-size: 1.6em;
}
.sidebar .nav-link {
    color: $secondary-text-color;
    font-size: 1.2em;
    &:hover  {
        background-color: fade-out($color: $main-color, $amount: 0.7);
        color: $main-color;
    }
}
.category-active {
    background-color: fade-out($color: $main-color, $amount: 0.7);
    color: $main-color;
}
.sidebar button {
    background-color: transparent;
    border: none;
    color: $secondary-text-color;
    &:hover {
        color: fade-out($color: $secondary-text-color, $amount: 0.5);
    }
   
}

.post-box {
    border: $border;
    border-radius: $rounded;
    list-style: none;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    .post-list-item {
        padding: 10px;
        border-bottom : $border;
        &:hover {
            background-color: $secondary-bg-color;
        }
    }
    .last-item {
        padding: 10px;
        border: none;
        &:hover {
            background-color: $secondary-bg-color;
        }
    }
    .post-list-link {
        
        &:hover {
            text-decoration: none;
            
        }
    }
    .post-title {
        font-size: $big-text;
        font-weight: 700;
        color: $main-text-color;
    }
    .post-details {
        color: $secondary-text-color;
        font-size: $small-text;
        
    }
    .post-body {
        color: $main-text-color;
    }
    
    
}
.icon-btn {
    background-color: transparent;
    border: none;
    border-radius: $rounded;
    padding: 5px;
    &:hover {
        background-color: fade-out($color: $main-color, $amount: 0.7);
    } 
  }
.no-comments {
    color: fade-out($color: $secondary-text-color, $amount: 0.3)
    
}
.comments-title{
    padding-bottom: 5px;
    text-align: center;
    color: $secondary-text-color;
  
  }
  .comments-hr hr {
    border-top: $border;
  
  }
.comment-box {
    border-bottom: $border;
    .comment-details {
        color: $secondary-text-color;
        font-size: $small-text;
    }
    
}
.sidebar-hr hr {
    border-top: $border;  
}
.sort-box {
    color: $main-text-color;
    span {
        margin-right: 5px;
    }
}

/*
.comment-modal {
    .modal-content {
        background-color: $secondary-bg-color!important;
        border: $border!important;
    }
    .modal-header {
        border-bottom: $border!important;
        color: $main-text-color;
    }
    .modal-body {
        color: $secondary-text-color;
        font-size: $big-text;
    }
    .modal-footer {
        border-top: none!important;
    
    }
    .form-control {
        background-color: $secondary-bg-color!important;
        color: $main-text-color!important;
        border: $border!important;
        border-radius: $input-border-radius!important;
    }
}*/
@media (min-width: $layout-breakpoint-sm) {

}
@media (min-width: $layout-breakpoint-md) {
    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }
    .sidebar {
        position: relative;
        
    }
}


