@import 'variables';

.post-box {
    border: $border;
    border-radius: $rounded;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    .post-list-item {
        padding: 10px;
        border-bottom : $border;
        &:hover {
            background-color: lighten($color: $main-bg-color, $amount: 10%);
        }
    }
    .last-item {
        padding: 10px;
        border: none;
        &:hover {
            background-color: lighten($color: $main-bg-color, $amount: 10%);
        }
    }
    .post-list-link {
        
        &:hover {
            text-decoration: none;
            
        }
    }
    .post-title {
        font-size: $big-text;
        font-weight: 700;
        color: $main-text-color;
    }
    .post-details {
        color: $secondary-text-color;
        font-size: $small-text;
        
    }
    .post-body {
        color: $main-text-color;
    }
    
    
}
.icon-btn {
    background-color: transparent;
    border: none;
    border-radius: $rounded;
    padding: 5px;
    &:hover {
        background-color: fade-out($color: $main-color, $amount: 0.7);
    } 
  }
.no-comments {
    color: fade-out($color: $secondary-text-color, $amount: 0.3)
    
}
.comments-title{
    padding-bottom: 5px;
    text-align: center;
    color: $secondary-text-color;
  
  }
  .comments-hr hr {
    border-top: $border;
  
  }
.comment-box {
    border-bottom: $border;
    .comment-vote {
        color: $secondary-text-color;
        font-size: $small-text;
    }
}

