@import 'variables';
@import "../../../node_modules/bootstrap/scss/functions";
@import '../../../node_modules/bootstrap/scss/variables';

 
.wrapper {
    display: flex;
    width: 100%;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: fade-out($color: $secondary-text-color, $amount: 0.4);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.d-active {
    display: block;
    opacity: 1;
}
.dismiss-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0px;
    right: 10px;
    
}
.sidebar  {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.sidebar {
    padding: 2rem 1rem 1rem 1rem;
    background-color: $secondary-bg-color;
}
.sidebar .col {
    flex-grow: 0!important;
}
.brand-text {
    font-size: 1.6em;
}
.sidebar .nav-link {
    margin: 5px 0;
    color: $secondary-text-color;
    
    transition: font-size 0.2s;
    &:hover  {
        font-size: 1.1em;
        background-color: fade-out($color: $main-color, $amount: 0.7);
        color: $main-color;
    }
}
.category-active {
    background-color: fade-out($color: $main-color, $amount: 0.7);
    color: $main-color!important;
    font-size: 1.1em;
}
.sidebar button {
    background-color: transparent;
    border: none;
    color: $secondary-text-color;
    &:hover {
        color: fade-out($color: $secondary-text-color, $amount: 0.5);
    }
   
}

.post-box {
    border: $border;
    border-radius: $rounded;
    list-style: none;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    .post-list-item {
        padding: 10px;
        border-bottom : $border;
        &:hover {
            background-color: $secondary-bg-color;
        }
    }
    .last-item {
        padding: 10px;
        border: none;
        &:hover {
            background-color: $secondary-bg-color;
        }
    }
    .post-list-link {
        
        &:hover {
            text-decoration: none;
            
        }
    }
    .post-title {
        font-size: $big-text;
        font-weight: 700;
        color: $main-text-color;
        margin-bottom: 5px;
    }
    .post-details {
        color: $secondary-text-color;
        font-size: $small-text;
        .post-category {
            margin-top: 5px;
            span {
                background-color: fade-out($color: $secondary-text-color, $amount: 0.7);
                padding: 8px;
                color: $secondary-text-color;
                border-radius: $rounded-sm;
                
            }
            
        }
        
    }
    .post-body {
        color: $main-text-color;
    }
    
    
}
.new-post-btn {
    border: 1px solid $main-color;
    color: $main-color;
    background-color: $secondary-bg-color;
    border-radius: 5px;
    padding: 5px 15px;
    transition: background-color 0.5s;
    span {
        transition: color 0.5s;
    }
    &:hover {
       background-color: $main-color; 
       color: $secondary-bg-color;
       
    }
}
.user-image {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: fade-out($color: $secondary-text-color, $amount: 0.3);
  }

  .post-user-icon {
    border-radius: 21px;
    color: $secondary-bg-color;
    
  }
.new-comment-row {
    padding: 20px 10px;
    .form-control {
        border: none;
        background-color: $main-bg-color!important;
        border-radius: $input-border-radius;
        &:focus {
            color: $secondary-text-color;
        }
        
    }
    .comment-icon {
        color: fade-out($color: $secondary-text-color, $amount: 0.5);
        
      }
  
  }
.comment-submit-btn {
    background-color: transparent;
    border: none!important;
    color: $main-color;
    font-size: 0.8em;
    &:disabled {
        color: $secondary-text-color;
    }
    &:enabled:hover {
        color: fade-out($color: $main-color, $amount: 0.5);
    }
  
  }
  .comment-form {
      border: $border;
      border-radius: $input-border-radius;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        
  }
 
.form-select {
    background-color: $secondary-bg-color;
    color: $secondary-text-color;
    border:none;
    border-radius: $rounded-sm;
    padding: 3px;

}
.icon-btn {
    background-color: transparent;
    border: none;
    border-radius: $rounded;
    padding: 5px;
    &:hover {
        background-color: fade-out($color: $main-color, $amount: 0.7);
    } 
  }
.no-comments {
    color: fade-out($color: $secondary-text-color, $amount: 0.3)
    
}
.no-posts {
    color: $main-text-color;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    

}
.comments-title{
    text-align: center;
    color: $secondary-text-color;
  
  }
  .comments-hr hr {
    border-top: $border;
  
  }
.comment-box {
    border-bottom: $border;
    padding-top: 10px;
    padding-bottom: 10px;
    .comment-details {
        color: $secondary-text-color;
        font-size: $small-text;
    }
    .comment-author {
        color: $secondary-text-color;
        font-weight: 700;
    }
    .comment-body {
        color: $main-text-color;
    }
    
}
.sidebar-hr hr {
    border-top: $border;  
}
.sort-box {
    color: $main-text-color;
    margin: 40px 0 0 0;
    span {
        margin-right: 5px;
    }
}
.brand {
    position: relative;
    &:hover {
        animation-name: shake;
        animation-duration: 0.8s;
        
        
    }
    
}

.comment-modal {
    .modal-content {
        background-color: $secondary-bg-color;
        border: $border;
        
    }
    .modal-header {
        border-bottom: $border;
        color: $main-color;
    }
    .close {
        color: $secondary-text-color;
    }
    .modal-body {
        color: $secondary-text-color;
        font-size: $big-text;
    }
    .modal-footer {
        border-top: none;
    
    }
    .form-control {
        background-color: $secondary-bg-color!important;
        color: $main-text-color!important;
        border: $border;
        border-radius: $input-border-radius;
        
    }
}

//media queries
@media (min-width: $layout-breakpoint-sm) {

}
@media (min-width: $layout-breakpoint-md) {
    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }
    .sidebar {
        position: relative;
        
    }
    .comment-form {
        border: none;
        border-radius: 0;
        
    }
    .new-comment-row {
        .form-control {
            border: $border;
            border-radius: $input-border-radius;
            background-color: $main-bg-color!important;
            
        }
    }
    
}

// animations
@keyframes brand-animation {
    from {color: $main-color; right: 60px;}
    to {color: $secondary-bg-color; right: 0px;}
}

@keyframes shake {
    0% { transform:  translateX(0) skewX(0deg)}
    25% { transform: translateX(10px) skewX(-8deg)}
    50% {transform:  translateX(-10px) skewX(8deg)}
    100% {transform:  translateX(0) skewX(0deg)}
}

