


.comments-title{
  padding-bottom: 5px;
  text-align: center;
  color: gray;

}
.comments-hr hr {
  border-top: 1px solid rgba(192, 192, 192, 0.2 );

}
.comment-author {
  color: gray;
  font-weight: 700;
}
.comment-body {
  color: white;
}

.new-comment-row {
  padding: 20px 10px;

}
.comment-icon {
  color: rgba(192, 192, 192, 0.4 );
  
}
.comment-form {

}
.input {
  background-color: black;
  color: rgba(192, 192, 192, 0.8 );
  border-radius: 20px;
  border: 1px solid rgba(192, 192, 192, 0.2 );
  margin: 0 10px;


}
.comment-submit-btn {
  background-color: black;
  border: none;
  color: rgba(192, 192, 192, 0.5 );
  font-size: 0.8em;

}
.comment-submit-btn:hover {
  background-color: #28a74641;
  border: none;
  color: #28a745;
  border-radius: 40px;


}
.new-post-row {
  padding: 20px;
}
.post-submit-btn {
  border:none;
  color:#28a745;
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  padding: 5px 15px;
}
.user-image {
  border-radius: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  background-color: rgba(192, 192, 192, 0.5 );
}
.post-user-icon {
  border-radius: 21px;
  color: rgb(34, 34, 34);
  
}
