.wrapper {
  display: flex;
  width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(128, 128, 128, 0.6);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.d-active {
  display: block;
  opacity: 1;
}

.dismiss-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0px;
  right: 10px;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.sidebar {
  padding: 2rem 1rem 1rem 1rem;
  background-color: #1a1a1a;
}

.sidebar .col {
  flex-grow: 0 !important;
}

.brand-text {
  font-size: 1.6em;
}

.sidebar .nav-link {
  margin: 5px 0;
  color: gray;
  transition: font-size 0.2s;
}
.sidebar .nav-link:hover {
  font-size: 1.1em;
  background-color: rgba(40, 167, 69, 0.3);
  color: #28a745;
}

.category-active {
  background-color: rgba(40, 167, 69, 0.3);
  color: #28a745 !important;
  font-size: 1.1em;
}

.sidebar button {
  background-color: transparent;
  border: none;
  color: gray;
}
.sidebar button:hover {
  color: rgba(128, 128, 128, 0.5);
}

.post-box {
  border: 0.5px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  list-style: none;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.post-box .post-list-item {
  padding: 10px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}
.post-box .post-list-item:hover {
  background-color: #1a1a1a;
}
.post-box .last-item {
  padding: 10px;
  border: none;
}
.post-box .last-item:hover {
  background-color: #1a1a1a;
}
.post-box .post-list-link:hover {
  text-decoration: none;
}
.post-box .post-title {
  font-size: 1.3em;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 5px;
}
.post-box .post-details {
  color: gray;
  font-size: 0.7em;
}
.post-box .post-details .post-category {
  margin-top: 5px;
}
.post-box .post-details .post-category span {
  background-color: rgba(128, 128, 128, 0.3);
  padding: 8px;
  color: gray;
  border-radius: 5px;
}
.post-box .post-body {
  color: #ffffff;
}

.new-post-btn {
  border: none;
  color: #28a745;
  background-color: #1a1a1a;
  border-radius: 5px;
  padding: 5px 15px;
  transition: background-color 0.5s;
}
.new-post-btn span {
  transition: color 0.5s;
}
.new-post-btn:hover {
  background-color: #28a745;
  color: #1a1a1a;
}

.new-comment-row {
  padding: 20px 10px;
}
.new-comment-row .form-control {
  border: none;
  background-color: black !important;
  border-radius: 20px;
}

.comment-submit-btn {
  background-color: black;
  border-radius: 20px;
  border: none !important;
  color: #28a745;
  font-size: 0.8em;
}
.comment-submit-btn:disabled {
  color: gray;
}
.comment-submit-btn:enabled:hover {
  color: rgba(40, 167, 69, 0.5);
  border-radius: 40px;
}

.comment-form {
  border: 0.5px solid rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.icon-btn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 5px;
}
.icon-btn:hover {
  background-color: rgba(40, 167, 69, 0.3);
}

.no-comments {
  color: rgba(128, 128, 128, 0.7);
}

.no-posts {
  color: #ffffff;
  text-align: center;
  margin: auto;
  margin-top: 60px;
}

.comments-title {
  text-align: center;
  color: gray;
}

.comments-hr hr {
  border-top: 0.5px solid rgba(128, 128, 128, 0.5);
}

.comment-box {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}
.comment-box .comment-details {
  color: gray;
  font-size: 0.7em;
}

.sidebar-hr hr {
  border-top: 0.5px solid rgba(128, 128, 128, 0.5);
}

.sort-box {
  color: #ffffff;
  margin: 40px 0 0 0;
}
.sort-box span {
  margin-right: 5px;
}

.brand {
  position: relative;
}
.brand:hover {
  animation-name: shake;
  animation-duration: 0.8s;
}

.comment-modal .modal-content {
  background-color: #1a1a1a;
  border: 0.5px solid rgba(128, 128, 128, 0.5);
}
.comment-modal .modal-header {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
  color: #28a745;
}
.comment-modal .close {
  color: gray;
}
.comment-modal .modal-body {
  color: gray;
  font-size: 1.3em;
}
.comment-modal .modal-footer {
  border-top: none;
}
.comment-modal .form-control {
  background-color: #1a1a1a !important;
  color: #ffffff !important;
  border: 0.5px solid rgba(128, 128, 128, 0.5);
  border-radius: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  .sidebar {
    position: relative;
  }

  .comment-form {
    border: none;
    border-radius: 0;
  }

  .new-comment-row .form-control {
    border: 0.5px solid rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    background-color: black !important;
  }
}
@keyframes brand-animation {
  from {
    color: #28a745;
    right: 60px;
  }
  to {
    color: #1a1a1a;
    right: 0px;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0) skewX(0deg);
  }
  25% {
    transform: translateX(10px) skewX(-8deg);
  }
  50% {
    transform: translateX(-10px) skewX(8deg);
  }
  100% {
    transform: translateX(0) skewX(0deg);
  }
}

/*# sourceMappingURL=styles.css.map */
