.wrapper {
  display: flex;
  width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(128, 128, 128, 0.6);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.overlay.d-active {
  display: block;
  opacity: 1;
}

.dismiss-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 0px;
  right: 10px;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
}

.sidebar {
  padding: 2rem 1rem 1rem 1rem;
  background-color: #1a1a1a;
}

.sidebar .col {
  flex-grow: 0 !important;
}

.brand-text {
  font-size: 1.6em;
}

.sidebar .nav-link {
  color: gray;
  font-size: 1.2em;
}
.sidebar .nav-link:hover {
  background-color: rgba(40, 167, 69, 0.3);
  color: #28a745;
}

.category-active {
  background-color: rgba(40, 167, 69, 0.3);
  color: #28a745;
}

.sidebar button {
  background-color: transparent;
  border: none;
  color: gray;
}
.sidebar button:hover {
  color: rgba(128, 128, 128, 0.5);
}

.post-box {
  border: 0.5px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  list-style: none;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.post-box .post-list-item {
  padding: 10px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}
.post-box .post-list-item:hover {
  background-color: #1a1a1a;
}
.post-box .last-item {
  padding: 10px;
  border: none;
}
.post-box .last-item:hover {
  background-color: #1a1a1a;
}
.post-box .post-list-link:hover {
  text-decoration: none;
}
.post-box .post-title {
  font-size: 1.3em;
  font-weight: 700;
  color: #ffffff;
}
.post-box .post-details {
  color: gray;
  font-size: 0.7em;
}
.post-box .post-body {
  color: #ffffff;
}

.icon-btn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 5px;
}
.icon-btn:hover {
  background-color: rgba(40, 167, 69, 0.3);
}

.no-comments {
  color: rgba(128, 128, 128, 0.7);
}

.comments-title {
  padding-bottom: 5px;
  text-align: center;
  color: gray;
}

.comments-hr hr {
  border-top: 0.5px solid rgba(128, 128, 128, 0.5);
}

.comment-box {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}
.comment-box .comment-details {
  color: gray;
  font-size: 0.7em;
}

.sidebar-hr hr {
  border-top: 0.5px solid rgba(128, 128, 128, 0.5);
}

.sort-box {
  color: #ffffff;
}
.sort-box span {
  margin-right: 5px;
}

/*
.comment-modal {
    .modal-content {
        background-color: $secondary-bg-color!important;
        border: $border!important;
    }
    .modal-header {
        border-bottom: $border!important;
        color: $main-text-color;
    }
    .modal-body {
        color: $secondary-text-color;
        font-size: $big-text;
    }
    .modal-footer {
        border-top: none!important;

    }
    .form-control {
        background-color: $secondary-bg-color!important;
        color: $main-text-color!important;
        border: $border!important;
        border-radius: $input-border-radius!important;
    }
}*/
@media (min-width: 768px) {
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  .sidebar {
    position: relative;
  }
}

/*# sourceMappingURL=styles.css.map */
